# Producing Synthetic Data

I am using ctgan library to produce. It is easy to use and more option to customize...

In [ ]:
!pip install ctgan openpyxl

In [3]:
from ctgan import CTGANSynthesizer
from ctgan import load_demo
import pandas as pd
import warnings 

warnings.simplefilter("ignore")

data=pd.read_excel('../input/immunotherapy/Immunotherapy.xlsx')
data

,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,1,22,2.25,14,3,51,50,1
1,1,15,3.00,2,3,900,70,1
2,1,16,10.50,2,1,100,25,1
3,1,27,4.50,9,3,80,30,1
4,1,20,8.00,6,1,45,8,1
...,...,...,...,...,...,...,...,...
85,1,40,5.50,8,3,69,5,1
86,1,38,7.50,8,2,56,45,1
87,1,46,11.50,4,1,91,25,0
88,1,32,12.00,9,1,43,50,0
89,2,23,6.75,6,1,19,2,1

We need to check the dataset's dtypes. If dataset has object we need to define it as list.

**discrete_columns = ['workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country',
    'income'
    ]**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sex                  90 non-null     int64
 1   age                  90 non-null     int64
 2   Time                 90 non-null     float64
 3   Number_of_Warts      90 non-null     int64
 4   Type                 90 non-null     int64
 5   Area                 90 non-null     int64
 6   induration_diameter  90 non-null     int64
 7   Result_of_Treatment  90 non-null     int64
dtypes: float64(1), int64(7)
memory usage: 5.8 KB

We can decide its epoch and fit it accordingly. 

Where we need to pay attention is the similarity of the data so we constantly checking its values with .nunique() and unique() after training...

If we have discrete columns we need to fit it accordingly. 

**ctgan.fit(data, discrete_columns)**

In [5]:
ctgan = CTGANSynthesizer(epochs=250)
ctgan.fit(data)

# Synthetic copy
samples = ctgan.sample(300)# How many rows we want

In [6]:
data.induration_diameter.unique()

array([50, 70, 25, 30,  8,  7,  6,  2,  5,  3,  9, 45])

In [9]:
samples.induration_diameter.unique()

array([  5,   9,  73,   4,  -1,  25,   7,  31,   8,   2,  59,  32,  56,
         6,  -3,   1,  18,  53,  11,  42,  10,  -2,  60,  35,   0,  19,
        20,  43,  49,  48,  23,   3,  34,  12,  14,  50,  22,  39,  16,
        77,  17,  47,  28,  69,  52,  24,  29,  26,  30,  44,  62,  13,
        68,  38,  51,  72,  76,  55,  78,  54,  63,  15,  -6,  70,  -5,
        46, -16])

In [10]:
data.Area.unique()

array([ 51, 900, 100,  80,  45,  84,   8,   9, 225,  35,  30,  25,  49,
        48, 143, 150,   6,  43,  56,  47,  60,  50, 300,  70,  20,  87,
       174, 502,  64,  21, 504,  99,  72, 352,  69, 163,  33,  17,  13,
        57,  32,  63,  14,  58,  23,  31,  37,  67,  42,  44,  75, 208,
        41,  59, 379,  65, 367,  40, 507,  91,  88,  73,  55,  81,  19])

In [11]:
samples

,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,2,21,2.884599,17,1,6,5,0
1,2,14,7.532560,6,2,448,9,1
2,1,22,-0.084006,1,1,-10,73,0
3,1,9,11.770210,11,1,3,4,1
4,2,20,4.234292,4,1,59,73,0
...,...,...,...,...,...,...,...,...
295,1,16,13.087057,3,3,413,4,1
296,2,18,2.286709,10,2,28,3,1
297,1,19,10.558049,4,3,-3,2,1
298,1,28,4.400589,10,1,-7,23,1
299,1,60,12.774240,1,1,45,-3,1

You could also save it after concating each other...

In [12]:
#samples=pd.concat([samples,data]).reset_index()
samples.to_csv('synthetic.csv')